GEMINI_API_KEY=""

LLM_MODEL_NAME="gemini-2.5-flash-lite"

EMBEDDING_MODEL_NAME="gemini-embedding-001"


# --- PostgreSQL ---
PG_HOST=""
PG_PORT=""
PG_DATABASE=""
PG_USER=""
PG_PASSWORD=""

LOG_DIR="logs"